<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Quiz</title>
</head>
<body>
    <div class="reglog">
        <form action="/login" method="get">
            <button id="Login">Login</button>

        </form>
        <form action="/register" method="get">
            <button id="Register">Register</button>

        </form>
    </div>
     <div class="Quiz">
         <form action="/create" method="get">
            <button id="Create">Create Quiz</button>

         </form>
    <form action="/showquiz" method="get">
    <button id="Attempt">Attempt Quiz</button>

    </form>
     </div>
</body>
</html>